GOOGLE_BOOKS_API_KEY=your_google_books_api_key
HUGGING_FACE_API_KEY=your_hugging_face_api_key
HUGGING_FACE_MODEL_URL=https://huggingface.co/mistralai/Mistral-7B-Instruct-v0.2
API_PORT=4000
JWT_SECRET=your_jwt_secret
DATABASE_URL=postgres://username:password@localhost:5432/bookpi
USE_IN_MEMORY_DB=false
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
