node_modules/
apps/*/node_modules/

.next/
apps/*/.next/

dist/
apps/*/dist/

.turbo/
coverage/
*.log
npm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db
node_modules
node_modules
